/*
# Ways to improve this:
#
# 0) Change to Google Fonts?
# 1) Make sidenotes appear in right column
# 2) Table of contents in left column? Javascript?
# 3) Running headers of some sort?
#
#
*/

/* @import url("http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400italic,400&subset=latin,latin-ext");  */


/* main sections */

body {
  background: #eeeeee;
  margin:0;
	color: black;
	text-align: left;
	font-family: "Hoefler Text", "Garamond Premier Pro", "Georgia", serif;
}

.main {
  margin-top:0;
  margin-bottom:0;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
}

.centercolumn {
	position:relative;
  width: 640px;
  left: 180px;
	background: #fff;
  color: #000;
  padding-top:80px;   
  padding-bottom:80px; 
  padding-left:40px;
  padding-right:40px;
  z-index:1;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-epub-hyphens: auto;
	hyphens: auto;
}

.header {

}

.chapter {
	z-index:1;
	margin-top:4em;
  counter-reset: sdnote txtnote 
}



/* paragraphs */


p,li {
	font-size: 1.4em;
	line-height: 1.5em;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-moz-margin-before: 0;
	-moz-margin-after: 0;
	margin-top:	0;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
}

p + p {
    text-indent: 1.5em;
    margin-top: 0;
   }

p.chaptersubhead + p {
	text-indent: 0;
}

p.chapterhead + p {
	text-indent: 0;
}

p.blockquote + p {
	text-indent:0;
}

p.divider + p {
	text-indent:0;
}

.rightaligned {
	text-align:right;
}

.blockquote {
	margin-top:1.5em;
	margin-bottom:1.5em;
	margin-left:2em;
	margin-right:2em;
	text-indent:0;
}

.divider {
	text-indent:0;
	text-align:center;
	margin-top:1.5em;
	margin-bottom:1.5em;
}

/* character formats */

strong {
	font-weight:bold;
}

em {
	font-style:italic;
}

.smallcaps {
/*	font-variant:small-caps; */
	font-size:smaller;
	text-transform:uppercase;
	letter-spacing:0.05em;
	font-style:normal;
}

.dropcap {  						/* this still doesn't work. */
	font-size: 2em;
}

.negativespacing {
	letter-spacing: -0.1em;
}

.sanserif {
	font-family:"Helvetica Neue", "Helvetica", "Arial";
	font-size: 100%;
	line-height: 100%;

}

a {
	color:#666666;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
	color:black;
}



/* headers */

.title, .subtitle, .subsubtitle, .author, .chapterhead, .chaptersubhead, .date, .end, .translator, .publisher { 
	text-align: center;
	text-indent: 0;
	margin-bottom: 1em;
	-moz-column-span:all; /* Safari and Chrome */
	-webkit-column-span:all; /* Safari and Chrome */
	column-span:all;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-epub-hyphens: none;
	hyphens: none;
}

.title,.chapterhead,.end {
	font-weight: bold;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-rendering: optimizeSpeed;
}

.title {
	font-size: 1.875em;
	line-height: 1.5em;
}

.chapterhead,.end {
	font-size: 1.666em;
}

.author, .chaptersubhead, .subtitle, .date {
	font-size: 1.5em;
}

.subsubtitle, .publisher, .translator {
	font-size: 1.25em;
}

.author {
	font-weight: bold;
	text-transform: capitalize;
	margin-top:1em;
}

.chaptersubhead, .subtitle, .date {
	font-style: italic;
}

p.date, p.translator, p.publisher {
	margin-top:1em;
}

p.title + p.subtitle {
	margin-top:-0.5em;
}

p.chapterhead + p.chaptersubhead {
	margin-top:-1em;
}

p.subsubtitle + p.translator {
	margin-top:-1em;
}

p.translator + p.publisher {
	margin-top:-1em;
}

hr {
	margin-top:2em;
	margin-bottom:2em;
	width:50%;
}


/* toc-specific formatting */

.toc {
	position:fixed;
	float:left;
	top:80px;
	width:180px;
	background:rgba(255,255,255,0.75);
	z-index:2;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;

	font-family: "Helvetica Neue", "Helvetica", "Arial";
	font-size: 0.6666em;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-epub-hyphens: none;
	hyphens: none;
}



.toc .chapterhead {
	text-align:left;
	position:fixed;
	margin-left:10px;
/*	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	position:relative;
	left:-40px;
	top:40px; */
}


ol.romantoc {
	list-style-type: upper-roman;
	text-align:left;
	font-size:0.8em;

	margin-top:4em;
	max-height:700px;

	overflow-x: hidden;
	overflow-y: hidden;
}




/* sidenotes */

/* from here: http://stackoverflow.com/questions/6567095/problem-with-floating-sidenotes-in-css */
/* usage: <span class="tnote"></span><span class="floatnote"><span class="snote"></span> Thomas D&rsquo;Arcy McGee. (J.V.)</span>  */
/* */
/* Or try these: http://fransdejonge.com/wp-content/uploads/2010/01/sidenotes.html */
/* or take the ones from here: http://www.newrepublic.com/article/112836/saul-friedlanders-franz-kafka-reviewed-billy-giraldi */

.tnote {
    counter-increment:txtnote;
    text-indent: 0;
  }

.tnote:after {
    position: relative;
    vertical-align: baseline;
    top: -0.3em;
    padding-left: 2px;
    font-size: 75%;
    color:red;
    content: counter(txtnote);
  }
/*
.floatnote {
    position: relative;
    background:white;
    padding: 0 0 0 0;
    display: block;
    width: 250px;
    clear: right;
    float: right;
    font-size:75%;
    text-indent:0;
}
*/

.floatnote {
	position:relative;
	display:block;
	float:right;
	z-index:1;

  top:-20px;
  right:-231px;
  width:190px;
  margin-left:-200px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right:10px;

  border-top-right-radius:10px;
	border-bottom-right-radius:10px;

  background:white;
  font-size:75%;
  text-indent:0px;
  line-height:1.5em;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-epub-hyphens: none;
	hyphens: none;
}

.floatnote:hover {
	z-index:99;
}

.floatnote > span {
    text-align: left;
    line-height: 1.17em;
}

.snote {
    counter-increment: sdnote;
    text-indent: 0;
  }

.snote:after {
    position: relative;
    vertical-align: baseline;
    top: 0;
    padding-left: 2px;
    font-size: 100%;
    color: red;
    content: counter(sdnote);
  }


